* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(244, 244, 244);
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #1d1d1d;
}

@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

section {
  max-width: 1600px;
}

main {
  width: 100%;
  @include flex-column(0rem);
  align-items: center;

  section.view1 {
    width: 100%;
    padding: 1rem;
    @include flex-column(1.5rem);

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      background-color: #292929;
      border-radius: 0.7rem;
      padding: 1.5rem;
      @include flex-column(3rem);

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.5rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          opacity: 0.6;
          line-height: 1.5;
        }

        button {
          width: fit-content;
          border: none;
          outline: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;
        }
      }
    }
  }

  section.view2 {
    @include flex-column(2.5rem);
    width: 100%;
    padding: 1rem;

    .top,
    .bottom {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .element {
        text-align: center;
        @include flex-column(0.2rem);

        small {
          font-size: 1rem;
          font-weight: 100;
          color: #b9b4b4;
          line-height: 2;
        }
        h2 {
          font-size: 3rem;
          font-weight: 300;
        }
      }
    }
  }

  section.view3 {
    width: 100%;
    padding: 1rem;
    @include flex-column(1rem);

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      background-color: #292929;
      border-radius: 0.7rem;
      padding: 1.5rem;
      @include flex-column(3rem);

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.5rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          opacity: 0.6;
          line-height: 1.5;
        }
      }
    }
  }

  section.view4 {
    width: 100%;
    padding: 1rem;
    @include flex-column(1rem);

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      background-color: #292929;
      border-radius: 0.7rem;
      padding: 1.5rem;
      @include flex-column(3rem);

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.5rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          opacity: 0.6;
          line-height: 1.5;
        }
      }
    }
  }

  section.view5 {
    @include flex-column(2rem);
    width: 100%;
    padding: 1rem;

    .card {
      width: 100%;
      border-radius: 0.7rem;
      background-size: cover;
      aspect-ratio: 1/1;

      @include flex-column(0rem);
      justify-content: space-between;
      padding: 1rem;

      .icon,
      .bottom {
        background-color: rgba(187, 187, 187, 0.375);
        backdrop-filter: blur(5px);
        border: 1px solid rgb(148, 146, 146);
        border-radius: 0.5rem;
        padding: 0.5rem;
      }

      .top {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
      }

      .icon {
        width: fit-content;
        border-radius: 50%;
        cursor: pointer;
      }

      .icon:hover {
        border: 1px solid white;
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 1rem;

        p {
          text-transform: uppercase;
        }
      }
    }

    .card:nth-child(1) {
      background-image: url(./img-3.png);
    }

    .card:nth-child(2) {
      background-image: url(./img-4.png);
    }

    .card:nth-child(3) {
      background-image: url(./img-5.png);
    }
  }

  section.view6 {
    width: 100%;
    padding: 1rem;
    @include flex-column(1rem);

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      background-color: #292929;
      border-radius: 0.7rem;
      padding: 1.5rem;
      @include flex-column(3rem);

      .text {
        @include flex-column(0.7rem);
        padding-bottom: 8rem;

        h1 {
          font-size: 2.5rem;
          font-weight: 200;
          text-transform: uppercase;
        }
      }

      .button {
        display: flex;
        gap: 2rem;
        margin-bottom: 1.5rem;

        p {
          font-size: 1rem;
          font-weight: 100;

          i {
            font-size: 1.6rem;
            padding: 0.2rem;
            background-color: #292929;
            border: 1px solid #535252;
            border-radius: 50%;
            margin-right: 0.8rem;
          }
        }
      }
    }
  }

  section.view7 {
    @include flex-column(2rem);
    width: 100%;
    padding: 1rem;

    .connect {
      @include flex-column(3rem);
      background-color: #d6c36e;
      color: black;
      padding: 1rem;
      border-radius: 10px;

      .text {
        color: black;

        p {
          font-size: 16px;
          padding-bottom: 10px;
        }

        h1 {
          font-size: 3rem;
          font-weight: 200;
          text-transform: uppercase;
        }
      }

      .button {
        button {
          background-color: #000;
          color: #fff;
          padding: 10px 20px;
          border-radius: 10px;
        }
      }
    }
  }

  section.view8 {
    width: 100%;
    background-color: #1d1d1d;
    color: #aaa;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .footer-container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .footer-brand {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: center;
      border-radius: 10px;
      background-color: #292929;
      padding: 1.5rem;

      h2 {
        font-size: 1.5rem;
        font-weight: 200;
        color: #fff;
        letter-spacing: 3px;
        margin-bottom: 2rem;
      }

      .socials {
        display: flex;
        gap: 0.8rem;
        margin-top: 6rem;

        a {
          width: 44px;
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: 1px solid #6c6b6b;
          color: #fff;
          transition: 0.3s ease;
          text-decoration: none;

          &:hover {
            border: 1px solid #aaa;
          }

          i {
            font-size: 20px;
          }
        }
      }
    }

    .footer-column {
      border-radius: 10px;
      background-color: #292929;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4rem;

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h3 {
          font-size: 1.6rem;
          color: #fff;
          font-weight: 100;
          margin-bottom: 1rem;
          letter-spacing: 0.5px;
        }

        .links {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          a {
            text-decoration: none;
            color: #a6a5a5;
            font-size: 1.2rem;
            font-weight: 100;
            letter-spacing: 0.3px;
            transition: 0.3s ease;

            &:hover {
              color: #d6c36e;
            }
          }
        }

        button {
          margin-top: 1rem;
          background-color: #d6c36e;
          border: none;
          padding: 1.2rem 1.3rem;
          color: #111;
          font-size: 1rem;
          font-weight: 100;
          border-radius: 8px;
          cursor: pointer;
          transition: 0.3s ease;

          &:hover {
            background-color: #e5d47c;
          }
        }
      }
    }

    .footer-bottom-right {
      border-radius: 10px;
      background-color: #292929;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;
      text-align: center;

      p {
        font-size: 1rem;
        color: #aaa;
        line-height: 1.4;
        span {
          color: #fff;
          text-decoration: underline;
        }
      }

      .to-top {
        display: flex;
        align-items: center;
        gap: 0.6rem;

        p {
          font-size: 1rem;
        }

        button {
          width: 40px;
          height: 40px;
          background-color: #333;
          color: #fff;
          border: 1px solid #6c6b6b;
          border-radius: 50%;
          cursor: pointer;
          transition: 0.3s ease;

          i {
            font-size: 20px;
          }

          &:hover {
            border: 1px solid #aaa;
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    section.view1 {
      flex-direction: row;
      padding: 1rem 4rem;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1.5rem;

          h1 {
            font-size: 3.5rem;
          }

          p {
            width: 80%;
            font-size: 1rem;
          }
        }
      }
    }

    section.view2 {
      flex-direction: row;
      padding: 1rem 4rem;
    }

    section.view3 {
      flex-direction: row-reverse;
      padding: 1rem 4rem;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .paragraph {
          display: flex;
          gap: 2rem;

          p {
            font-size: 1rem;
          }
        }
      }
    }

    section.view4 {
      flex-direction: row;
      padding: 1rem 4rem;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .paragraph {
          display: flex;
          gap: 2rem;

          p {
            font-size: 1rem;
          }
        }
      }
    }

    section.view5 {
      flex-direction: row;
      padding: 1rem 4rem;
    }

    section.view6 {
      flex-direction: row;
      padding: 1rem 4rem;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .button {
          display: flex;
          gap: 2rem;

          p {
            font-size: 1rem;
            font-weight: 100;

            i {
              font-size: 1.6rem;
              padding: 0.2rem;
              background-color: #292929;
              border: 1px solid #535252;
              border-radius: 50%;
              margin-right: 0.8rem;
            }
          }
        }
      }
    }

    section.view7 {
      padding: 1rem 4rem;

      .connect {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 40px;

        .text {
          color: black;

          p {
            font-size: 16px;
            padding-bottom: 10px;
          }

          h1 {
            font-size: 6rem;
            font-weight: 200;
            text-transform: uppercase;
          }
        }

        .button {
          button {
            font-size: 20px;
            cursor: pointer;
          }
        }
      }
    }

    section.view8 {
      padding: 1rem 4rem;
      .footer-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 5fr 1fr;
        grid-template-areas:
          "footer-brand footer-column"
          "footer-brand footer-bottom-right";
        gap: 1rem;
      }

      .footer-brand {
        grid-area: footer-brand;
        align-items: flex-start;

        .socials {
          margin-top: 20rem;
        }
      }

      .footer-column {
        grid-area: footer-column;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;

        div {
          align-items: flex-start;
        }
      }

      .footer-bottom-right {
        grid-area: footer-bottom-right;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
      }
    }
  }
}
